<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871660197591-948mggf5onjsle0vr3mhn9opauq0t7ub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871660197591-948mggf5onjsle0vr3mhn9opauq0t7ub</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>871660197591-1ccjl5b416l7kvb2869t5c12mnocvib2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ1A-kAzViwma194g0xO-XW5TdNp-2KM8</string>
	<key>GCM_SENDER_ID</key>
	<string>871660197591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kevalbotadra.nsks</string>
	<key>PROJECT_ID</key>
	<string>nsks-a707f</string>
	<key>STORAGE_BUCKET</key>
	<string>nsks-a707f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871660197591:ios:ae36edd6cc474023350292</string>
</dict>
</plist>